.today-discount {
  width: 100%;
  height: 427px;
  display: flex;
  justify-content: center;
  .today-discount-center {
    width: 87%;
    height: 100%;
    background-color: rgb(244 244 244 / 1);
    border-radius: 16px;
    border: 0.8px solid rgb(212, 212, 212);
    box-sizing: border-box;
    overflow: hidden;
    .swiper {
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      border-left: 3px solid rgb(244 244 244 / 1);
      .first {
        display: flex;
        justify-content: center;
        align-items: center;
        .first-item {
          background-color: transparent;
          margin-left: 12px;
          p {
            font-family: var(--font-family);
            font-size: 22.5px;
            font-weight: 700;
            color: rgb(28, 124, 84);
            text-align: center;
            margin-bottom: 20px;
          }
          .second-img-item {
            display: block;
            width: 124px;
            height: 124px;
            object-fit: cover;
            margin: 0 auto;
            margin-bottom: 5px;
          }
          a {
            display: flex;
            align-items: center;
            width: fit-content;
            text-decoration: none;
            margin: 0 auto;
            margin-top: 35px;
            span {
              font-family: var(--font-family);
              font-size: 12px;
              font-weight: 600;
              color: rgb(28, 124, 84);
              margin-right: 5px;
            }
            img {
              margin: 0 10px 3px 0;
              width: 15px;
              height: 15px;
            }
          }
        }
      }
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          text-decoration: none;
          width: 100%;
          height: 100%;
          .swiper-slide-item {
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            border-radius: 8px;
            padding: 12px 8px;
            box-sizing: border-box;
            position: relative;
            .image-one {
              display: block;
              width: 64px;
              height: 14px;
              margin: 8px 0px;
            }
            .image-two {
              display: block;
              width: 150px;
              height: 150px;
              object-fit: cover;
              margin: 0 auto !important;
            }
            .image-three {
              display: block;
              width: 117px;
              height: 15px;
              margin: 8px 0px;
            }
            .circle {
              position: absolute;
              width: 25px;
              height: 25px;
              border: 0.8px solid rgb(2, 154, 73);
              border-radius: 50%;
              top: 158px;
              right: 14.5px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgb(255, 255, 255);
            }
            h3 {
              font-family: var(--font-family), var(--font-family-number),
                var(--english-font-family);
              font-size: 12px;
              font-weight: 500;
              color: rgb(63, 64, 100);
              line-height: 26px;
              margin: 0 auto;
              margin-top: 5px;
              height: 52px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              box-orient: vertical;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              overflow: hidden;
            }
            .price {
              width: 100%;
              display: flex;
              flex-flow: row-reverse;
              margin-top: 32px;
              align-items: center;
              justify-content: space-between;
              .price-toman {
                display: flex;
                align-items: center;
                p {
                  font-family: var(--font-family-number);
                  font-size: 15px;
                  font-weight: 600;
                  color: rgb(63, 64, 100);
                  margin-left: 2px;
                }
                img {
                  width: 18px;
                  height: 18px;
                }
              }
              .price-discount {
                width: 34px;
                height: 20px;
                border-radius: 16px;
                background-color: rgb(211, 47, 47);
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(255, 255, 255);
                font-family: var(--font-family-number);
                font-size: 11px;
                font-weight: 500;
              }
            }
            .origin-price {
              font-family: var(--font-family-number);
              font-size: 11px;
              font-weight: 400;
              color: rgb(192, 194, 197);
              text-decoration: line-through;
              text-align: end;
              margin: 8px 0 0 20px;
            }

            .empty {
              width: 100%;
              height: 4px;
              margin-top: 4px;
            }
            .last-part {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-flow: row-reverse;
              margin-top: 7px;
              .clock {
                font-family: var(--font-family-number);
                font-size: 12px;
                font-weight: 500;
                color: rgb(239, 64, 86);
              }
            }
          }
        }
        .last-swiper-slide-item {
          width: 100%;
          height: 100%;
          background-color: rgb(255, 255, 255);
          border-radius: 8px;
          a {
            width: fit-content;
            height: fit-content;
            text-decoration: none;
            display: block;
            margin: 0 auto;
            .view-all {
              width: 48px;
              height: 48px;
              border-radius: 50%;
              border: 0.8px solid rgb(15, 171, 198);
              margin: 0 auto;
              margin-top: 140px;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 18px;
                height: 18px;
              }
            }
            p {
              font-family: var(--font-family);
              font-size: 12px;
              font-weight: 500;
              color: rgb(63, 64, 100);
              margin-top: 10px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
